/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, a
{
    display: block;
}
a
{
    text-decoration: none;
}
body
{
    line-height: 1;
}
body > div
{
    display: none !important /* To Avoid Malware */;
}
body > iframe
{
    display: none !important /* To Avoid Malware */;
}
div.body
{
    display: block !important;
}
ol, ul
{
    list-style: none;
}
div, ul
{
    /*background-color: black;     background-color: rgba(0,0,0,0.2);*/
}
ul li
{
    list-style: none;
}
#nav1
{
    position: fixed;
    height: 100%;
    width: 15%;
    float: right;
    background-color: White;
    box-shadow: 0px 0px 20px rgb(0,0,0);
}
div#logo
{
    height: auto;
    width: 100%;
    position: relative;
}
div#logo > img
{
    width: 100%;
}
ul#nav-links
{
    position: relative;
}
ul#nav-links > li
{
   
    display: block;
    height:auto;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    text-align: right;
}
ul#nav-links > li > a
{
    text-decoration: none;
    color: #aaaaaa;
     padding-top: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid rgb(200,200,200);
}
div#main-tabs
{
    width: 85%;
    float: right; /*background-color: rgb(67,67,67);*/
}
div#tab-container
{
    height: auto;
    width: 100%;
}
div#tab-container > div
{
    position: relative;
    height: 3000px;
}
#homebg
{
    height: 100%;
    width: 100%;
}
div#tab-container > div#home
{
    height: 100%;
    overflow:hidden;
}
@media (max-width: 768px)
{
    #nav1
    {
        position: fixed;
        height: 50px;
        width: 100%;
        float: none;
        top: 0;
    }
    div#logo
    {
        height: 100%;
        float: left;
        width: auto;
    }
    div#logo > img
    {
        height: 100%;
        width: auto;
    }
    ul#nav-links
    {
        width: 80%;
        float: right;
        height: 100%;
    }
    ul#nav-links > li
    {
        height: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 25%;
        float: left;
    }
    div#main-tabs
    {
        position: relative;
        width: 100%;
        float: none;
    }
    div#tab-container > div#home
    {
        padding-top: 50px;
    }
}

/*@media (max-width: 540px)
{
    #homebg
    {
        width:540px;
        height:auto;
    }
}

@media (max-height: 340px)
{
    #homebg
    {
        width:auto;
        height:340px;
    }
}*/



div#footer
{
    position: fixed;
    bottom: 0;
    right: 0;
    width: inherit;
    height: 40px;
}
ul#foot-links
{
    height: 100%;
}
ul#foot-links li
{
    float: left;
}
div#home
{
    /*background-image: url('imgs/appledesk.jpg');     background-size:100%;     background-repeat: no-repeat;*/
    overflow: hidden;
}

#bg
{
    background-color: rgba(0,0,0,0.4);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
}
#name
{
    position: absolute;
    top: 40px;
    top: 10%;
    left: 0px;
    padding: 20px;
    font-family: "Courier New" , Courier, monospace;
    color: white;
    text-shadow: 1px 1px 5px black;
}
#name label
{
    font-size: 48px;
}
#name > p
{
    font-size: 24px;
}
#name > p > span
{
    color: #FFFF00;
    font-weight: bolder;
}

